
source /usr/local/bin/virtualenvwrapper.sh
source /usr/local/bin/virtualenvwrapper.sh
source /usr/local/bin/virtualenvwrapper.sh
n-version
*.orig
*.swp
*.swo
.*/
nohup.out
static/combo/*
gzh_vue/v2
.DS_Store
scss/
static/css/*.scss
static/css/*.map
zhongqiang.log

